{% load staticfiles%}

<div class="columns is-mobile is-centered">
    <div class="column is-10">
      <nav class="navbar ">
  
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item item-left" href="{% url 'home' %}">
              <span class="icon brand"><i class="fa fa-home"></i></span>
              <span>Home</span>
            </a>
            <a class="navbar-item item-left" href="{% url 'home' %}">
              <span>Browse</span>
            </a>
            <a class="navbar-item item-left" href="{% url 'home' %}">
              <span>Contact</span>
            </a>
          </div>
        
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">

                {% if request.user.is_authenticated %}
                <p class="control">
                  <a class="button is-primary" href="{% url 'new_book' %}">
                    <span class="icon"><i class="fa fa-hand-o-up"></i></span>
                    <span>Add New</span>
                  </a>
                </p>

                <p class="control">
                  <a class="button" href="{% url 'my_books' %}">
                    <span class="icon"><i class="fa fa-cube"></i></span>
                    <span>My Books</span>
                  </a>
                </p>
              
                <p class="control">
                  <a class="button" href="{% url 'logout' %}">
                    <span>Logout</span>
                  </a>
                </p>

                {% else %}
                <p class="control">
                  <a class="button is-outlined" href="{% url 'login' %}">
                    <span>Login</span>
                  </a>
                </p>

                <p class="control">
                  <a class="button is-primary" href="{% url 'user_registration' %}">
                    <span class="icon"><i class="fa fa-chevron-right"></i></span>
                    <span>Register</span>
                  </a>
                </p>
                {% endif %}                 
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>