{% extends "base.html" %}

{% block content %}
<section class="section page-main columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification">
              <div class="content">
                <h3 class="title is-3">{{ object.title }}</h3>
                <h3 class="subtitle">{{ object.author }}</h3>
                <h3 class="course-tag">{{ object.course_code }}</h3>
                <h3>$ {{ object.price }}</h3>              
              </div>
              <div class="content">{{ object.description }}</div>
              <div class="content columns is-centered">
                <div class="column field is-grouped">
                  <p class="control">
                    <a class="button is-info" href="{% url 'new_book' %}">
                      <span class="icon"><i class="fa fa-paper-plane-o"></i></span>
                      <span>Contact</span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-danger" href="{% url 'home' %}">
                      <span class="icon"><i class="fa fa-star-o"></i></span>
                      <span>Like It</span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-dark" href="{% url 'home' %}">
                      <span>Back to list</span>
                    </a>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <p class="subtitle">Let me take a look.. 👀</p>
              <figure class="image is-square">
                <img src="http://via.placeholder.com/800x800">
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}