{% extends "base.html" %}

{% block content %}
  <section class="section page-main columns is-mobile is-centered">
    <div class="column"></div>
    <div class="column is-10">
      <h2 class="title is-2">My Listings</h2>
      {% if has_books %}
      <table class="table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Author</th>
            <th>Decription</th>
            <th>Price</th>
            <th>Date</th>
            <th colspan="2">Actions</th>          
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <th scope="row">{{ book.course_code }}</th>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td width="30%">{{ book.description | truncatewords:15 }}</td>
            <th scope="row">{{ book.price }}</th>
            <td>{{ book.created_on |date:'M d, Y' }}</td> 
            <td><a href="{% url 'edit_book' pk=book.pk %}" class="button is-light">Edit</a></td>
            <td><a href="{% url 'delete_book' pk=book.pk %}" class="button is-danger">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>You haven't listed any books yet. Click <a href="{% url 'new_book' %}">Here</a> to list a new book.</h3>
      {% endif %}

    </div>
    <div class="column"></div>
  </section>
  <div class="columns is-mobile is-centered">
    <div class="column is-narrow">
      {% include "pagination.html" with page=page_obj %}
    </div>
  </div>
{% endblock %}